[build]
  # Directory to change to before starting a build
  base = "react-portfolio"
  # Directory that contains the deploy-ready HTML files and assets
  publish = "dist"
  # Default build command
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  # Node version for builds
  NODE_VERSION = "18"